.App {
    text-align: center;
    color:azure;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(73, 79, 82);
    color: white;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-links a {
    color: white;
}

a {
    color: azure;
    text-decoration: none;
}

a.active {
    color: seagreen;
}